.Login
{
    background-color: grey;
    height: 100px;
    width: 79%;
    text-align: center;
    border: 1px solid black;
    float:right;
}
.Picture{
    float:left;
    width: 19%;
}
.header{
    background-color:grey;
    float:left;
    width: 100%;
    top: 0;
}

#picture{
    float:left;
    width: 100px;
    height: 100px;
    object-fit: contain;
    padding: 5px;
}

#linkList{
    float:left;
}

#canvas{
    float: left;
}